* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background-color: #04152d;
}

::-webkit-scrollbar {
  display: none;
}







.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .4rem 4%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  background: transparent;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-size: 2.5rem;
  font-weight: bold
}

.logo img {
  height: auto;
  max-width: 30%;
}

.links span {
  font-size: 2rem;
  margin-right: 1.9rem;
  color: white;
  font-weight: 600;
}

.links span:hover {
  text-decoration: underline;
  text-decoration-color: rgb(228, 66, 11);
}





@media(max-width:768px) {
  .logo span {
    margin-right: 1rem;
    font-size: 2rem;
  }

  .links span {
    font-size: 1.7rem;
    margin-right: 1rem;
  }

}

@media(max-width:450px) {
  .logo span {
    margin-right: 6rem;
  }

}