.posterimage {
    position: relative;
    height: 60rem;
    width: 100%;
    margin-bottom: 6rem;
}

.posterimage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    object-position: 0 28%;
    cursor: pointer;
}

.opacity-toplayer {
    position: absolute;
    left: 0;
    top: 6rem;
    height: 20.5rem;
    width: 100%;
    background: linear-gradient(360deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
}

.opacity-bottomlayer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
}

.posterImgDetail {
    position: absolute;
    left: 6rem;
    right: 20rem;
    top: 70%;
    color: white;
}

.posterImage__description {
    font-size: 1.5rem;
}

.posterImg__title h1 {
    font-size: 4rem;
    margin-bottom: .5rem;
}

.ListOfMovi {
    padding: 0 5rem;
}


.listTitle {
    font-size: 3rem;
    margin: 2rem;
    color: white;
    cursor: pointer;
}


.listOfcards {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}


.card {
    display: inline-block;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0.19rem;
    cursor: pointer;
    min-width: 20rem;
    height: 33rem;
    transition: transform .3s;
}


.card:hover {
    transform: scale(1.2);
    z-index: 1000;
}


.cardsimg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardsDetails {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
}

.cardsDetails:hover {
    opacity: 1;
}

.cardTitle {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: white;
}

.cardRuntime {
    font-size: 1.1rem;
    margin-bottom: .5rem;
    color: red;
}

.cardRating {
    float: right;
    color: greenyellow;
}

.cardDescription {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: .25rem;
    color: orange;
}