.movieContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.BackImageContainer {
    width: 90%;
}

.BackImage {
    height: 50rem;
    width: 100%;
    object-fit: cover;
    object-position: 0 38%;
}

.moviDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 25rem;
    width: 80%;
}

.movieLeft {
    margin-right: 4rem;
}

.insideImg {
    width: 35rem;
    height: 50rem;
    border-radius: 1rem;
}

.rightDetail {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45rem;
}

.movie__detailRightTop>div {
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: .5rem;
}

.mName {
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.mtagline {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(223, 110, 4);
}

.mrating {
    font-size: 1.3rem;
    color: #13f356;
    display: flex;
    gap: 1rem;
}

.mRuntime {
    font-size: 1.3rem;
    color: red;
    font-weight: 600;
}

.mReleaseDate {
    font-size: 1.2rem;
    color: rgb(221, 255, 0);
    font-weight: 600;
}

.mgenresContent {
    margin: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.mGenre {
    padding: 1rem 2rem;
    border: 2px solid white;
    border-radius: 3rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.mGenre:hover {
    background-color: black;
}


.synopsisDetail {
    margin: 2rem 0;
    flex: 0.8;
}

.synopText {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}

.sysDescrip {
    font-size: 1.5rem;
    font-style: italic;
}

.playvideo button {
    background: transparent;
    border: 2px solid white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    outline: none;
    background-color: #f1de0a;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.playvideo button:hover {
    padding: 1rem 3rem;
    background-color: #413c03;
    color: white;
}

.relatedimages {
    position: relative;
    bottom: 20rem;
}

.relatedimages h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 6rem;
}

.relatedImgContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 0 9rem;
}

.imgContainer {
    height: 30rem;
    flex: 1 1 30rem;
    position: relative;
}

.imgContainer img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
    cursor: pointer;
}

.imgContainer img:hover {
    opacity: .5;
}

@media(max-width:991px) {
    html {
        font-size: 56%;
    }

    .BackImage {
        height: 45rem;
    }

    .insideImg {
        width: 30rem;
        height: 46rem;
    }

    .mName {
        font-size: 2rem;
    }

    .mtagline,
    .mrating,
    .mRuntime,
    .mReleaseDate {
        font-size: 1.2rem;
    }

    .mGenre {
        font-size: 1.4rem;
        padding: .9rem 1.8rem;
    }

    .synopText {
        font-size: 2rem;
    }

    .sysDescrip {
        font-size: 1.4rem;
    }

    .playvideo button {
        padding: 1rem 1.5rem;
        margin-top: 1rem;
    }

    .playvideo button:hover {
        padding: 1rem 2rem;
        ;
    }
}



@media(max-width:768px) {
    html {
        font-size: 54%;
    }

    .BackImage {
        height: 40rem;
    }

    .insideImg {
        width: 27rem;
        height: 41rem;
    }

    .mName {
        font-size: 1.9rem;
    }

    .mtagline,
    .mrating,
    .mRuntime,
    .mReleaseDate {
        font-size: 1.1rem;
    }

    .mGenre {
        font-size: 1.3rem;
        padding: .7rem 1.6rem;
    }

    .synopText {
        font-size: 1.8rem;
    }

    .sysDescrip {
        font-size: 1.3rem;
    }

}


@media(max-width:450px) {
    html {
        font-size: 50%;
    }

    .BackImage {
        height: 30rem;
    }

    .insideImg {
        width: 25rem;
        height: 35rem;
    }

    .mName {
        font-size: 1.8rem;
    }

    .mtagline,
    .mrating,
    .mRuntime,
    .mReleaseDate {
        font-size: 1rem;
    }

    .mGenre {
        font-size: 1.2rem;
        padding: .5rem 1.2rem;
    }

    .synopText {
        font-size: 1.5rem;
    }

    .sysDescrip {
        font-size: 1rem;
    }

}